In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('drinks.csv')

In [3]:
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [4]:
data.shape

(193, 6)

In [6]:
data.isnull().sum()

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

In [5]:
data.continent.unique()

array(['AS', 'EU', 'AF', nan, 'SA', 'OC'], dtype=object)

# which continent drinks more beer on average?

In [14]:
series = data.groupby('continent')['beer_servings'].sum()

In [29]:
series.sort_values(ascending = False).index[0]

'EU'

# For each continent print the statistics for wine consumption?

In [18]:
data.groupby('continent').wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

# Print the mean alcohol consumption per continent for every column

In [20]:
data.groupby('continent').total_litres_of_pure_alcohol.mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

# Print the median alcohol consumption per continent for every column

In [24]:
data.groupby('continent').total_litres_of_pure_alcohol.median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

# Print mean, min, max values for spirit consumption per continent

In [31]:
data.groupby('continent').spirit_servings.agg(['mean','max','median','std'])

                 mean  max  median        std
continent
AF          16.339623  152     3.0  28.102794
AS          60.840909  326    16.0  84.362160
EU         132.555556  373   122.0  77.589115
OC          58.437500  254    37.0  70.504817
SA         114.750000  302   108.5  77.077440