In [1]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_csv('student-mat.csv')

In [20]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [21]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [22]:
data.shape

(395, 33)

#  For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [23]:
df = data.loc[:,'school': 'guardian']

In [24]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

In [25]:
df.shape

(395, 12)

# Create a lambda function that will capitalize strings

In [26]:
make_capital = lambda x: x.capitalize()

# Capitalize both Mjob and Fjob

In [27]:
df.Mjob.apply(make_capital)

0       At_home
1       At_home
2       At_home
3        Health
4         Other
         ...
390    Services
391    Services
392       Other
393    Services
394       Other
Name: Mjob, Length: 395, dtype: object

In [28]:
df.Fjob.apply(make_capital)

0       Teacher
1         Other
2         Other
3      Services
4         Other
         ...
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

# Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob

In [29]:
# we didn't save the change we made so , original dataframe is still lowercase 
df.Mjob = df.Mjob.apply(make_capital)
df.Fjob = df.Fjob.apply(make_capital)

In [31]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father

# Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [32]:
def majority(age):
    if age > 17:
        return True
    else :
        return False

In [33]:
df['legal_drinker'] = df.age.apply(majority)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False

# Change the value column Pstatus to 1 and 0 using lambda function. 1 refer to A and 0 refer to T.

In [35]:
df.Pstatus = df.Pstatus.apply(lambda x: 1 if x == 'A' else 0)

# change the guardian column to upper case using lambda function

In [47]:
df.guardian = df.guardian.apply(lambda x: x.upper())

# How many students are from each  school , and print the school with the highest number of students?

In [55]:
student_from_GP = df.groupby('school').school.count()['GP']
student_from_MS = df.groupby('school').school.count()['MS']

In [66]:
school = df.groupby('school').school.size().idxmax()
school

'GP'

# How many student's mother works as a Teacher ?

In [77]:
df.groupby("Mjob").Mjob.count()['Teacher']

58

# How many students are legal drinkers ?

In [91]:
df.groupby('legal_drinker').legal_drinker.count().argmax()
# here illegal drinkers are more

/home/bhabuk/anaconda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """Entry point for launching an IPython kernel.

False

In [93]:
df.groupby('legal_drinker').legal_drinker.count().sort_values(ascending = True)[0]
# this is the number of legal drinkers

284